.form__button_submit {
  min-width: 189px;
  justify-self: center;
  height: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
}
